header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}

.logo{
    color: crimson;
    font-weight: bold;
    font-size: 20px;
}

nav span{
    background-color: crimson;
    padding: 10px 20px;
    margin-left: 10px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}