*{
  box-sizing: border-box;
}

/* Order Page */
.order-container{
  width: 60%;
  margin: 10px auto 30px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

.order-title{
  text-align: center;
  padding: 15px;
}

.order-container img{
  max-width: 100%;
}

.order-container p{
  margin: 10px 20px;
}

.order-section-bottom{
  margin: 10px 20px;
}

.order-section-bottom label{
  display: block;
  margin-bottom: 5px;
}

.sauce-radio{
  margin-right: 10px;
}

.order-section-half{
  display: inline-block;
  width: 50%;
}

.add-to-order{
  padding: 10px 20px;
  border-top: 1px solid #E0E0E0;
}

.order-box{
  width: 70%;
  margin: 10px auto;
  padding: 10px;
}